apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-nginx-deployment
  namespace: prod
spec:
  replicas: 3
  selector:
    matchLabels:
      app: my-nginx-deployment
  template:
    metadata:
      labels:
        app: my-nginx-deployment
    spec:
      containers:
      - name: my-nginx-deployment
        image: nginx
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 80
